<!-- footer -->
<div class="flex p-5 md:px-40 bg-gray-100 text-gray-700">
    <div>
        <div>
            تمامی حقوق این سایت محفوظ میباشد
        </div>
        <div>
            تماس با ما با ایمیل: support@estekhdam.com
        </div>
    </div>

    <div class="mr-auto">
        <% var today = new Date() %>
        تاریخ امروز : <%= today.toLocaleString('fa-IR') %>
    </div>
</div>