<!-- header -->
<div class="sticky top-0 shadow flex flex-col md:flex-row md:items-center px-5 py-2 bg-gray-100 text-gray-700 md:px-40">
    <!-- logo -->
    <a href="/" class="text-xl mt-3 md:mt-0 order-2 md:order-1">
        استخدام دات کام
    </a>

    <!-- links -->
    <div class="flex items-center order-1 md:mr-auto md:order-2">
        <a href="#"
            class="flex items-center rounded shadow border-transparent p-2 bg-green-500 hover:bg-green-600 text-gray-50 text-sm">
            <i class="fas fa-newspaper ml-2"></i>
            <div>درج آگهی</div>
        </a>
        <a href="/signup"
            class="flex items-center rounded shadow border-transparent p-2 bg-green-500 hover:bg-green-600 text-gray-50 text-sm mr-2">
            <i class="fas fa-user-plus ml-2"></i>
            <div>ثبت نام</div>
        </a>
        <a href="/signin"
            class="flex items-center rounded shadow border-transparent p-2 bg-green-500 hover:bg-green-600 text-gray-50 text-sm mr-2">
            <i class="fas fa-sign-in-alt ml-2"></i>
            <div>
                ورود کاربران
            </div>
        </a>
    </div>
</div>