<div class="flex items-center min-h-screen bg-gray-100">
    <div class="flex flex-col w-3/4 lg:w-1/2 mx-auto my-10">
        <!-- signup options -->
        <div class="flex flex-col md:flex-row items-strech">
            <!-- publisher signup -->
            <div class="relative shadow border border-2 rounded bg-purple-700 text-gray-100 flex-1 p-5 pb-32 mb-10 md:mb-0 md:ml-5">
                <div class="border-b-2 border-dashed text-center text-gray-50 text-xl font-black pb-2 mb-5">
                    کارفرمایان
                </div>
                <div>
                    <div class="mb-1">
                        <i class="far fa-check-circle text-yellow-300"></i>
                        آگهی فوری
                    </div>
                    <div class="mb-1">
                        <i class="far fa-check-circle text-yellow-300"></i>
                        آمار بازدید آگهی
                    </div>
                    <div class="mb-1">
                        <i class="far fa-check-circle text-yellow-300"></i>
                        انتشار در تلگرام
                    </div>
                    <div class="mb-1">
                        <i class="far fa-check-circle text-yellow-300"></i>
                        سیستم مدیریت رزومه
                    </div>
                </div>
                <div class="absolute inset-x-0 bottom-0 pb-10 text-center">
                    <button class="rounded shadow border-transparent focus:outline-none focus:ring-2 focus:ring-green-300 hover:bg-green-600 text-gray-50 bg-green-500 font-black px-5 py-2">ثبت
                        نام</button>
                </div>
            </div>

            <!-- user signup -->
            <div class="relative shadow border border-2 rounded bg-purple-700 text-gray-100 flex-1 p-5 pb-32 md:mr-5">
                <div class="border-b-2 border-dashed text-center text-gray-50 text-xl font-black pb-2 mb-5">
                    کارجویان
                </div>
                <div>
                    <div class="mb-1">
                        <i class="far fa-check-circle text-yellow-300"></i>
                        ذخیره آگهی
                    </div>
                    <div class="mb-1">
                        <i class="far fa-check-circle text-yellow-300"></i>
                        ارسال رزومه
                    </div>
                </div>
                <div class="absolute inset-x-0 bottom-0 pb-10 text-center">
                    <button class="rounded shadow border-transparent focus:outline-none focus:ring-2 focus:ring-green-300 hover:bg-green-600 text-gray-50 font-black bg-green-500 px-5 py-2">ثبت
                        نام</button>
                </div>
            </div>
        </div>

        <div class="flex divide-x divide-x-reverse divide-green-500 mt-5">
            <a href="/"
                class="text-xs text-blue-400 px-2 mr-auto">صفحه اصلی</a>
            <a href="/"
                class="text-xs text-blue-400 px-2">ورود کاربران</a>
        </div>
    </div>
</div>
